name: Build Polyglot

on:
    [push, pull_request]

env:
    bento4_version: 1-6-0-641

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - uses: oven-sh/setup-bun@v2

    - uses: FedericoCarboni/setup-ffmpeg@v3

    - uses: mfinelli/setup-imagemagick@v7

    - name: Download mp4edit
      run: |
        wget https://www.bok.net/Bento4/binaries/Bento4-SDK-${{ env.bento4_version }}.x86_64-unknown-linux.zip
        unzip Bento4-SDK-${{ env.bento4_version }}.x86_64-unknown-linux.zip
        cp Bento4-SDK-${{ env.bento4_version }}.x86_64-unknown-linux/bin/mp4edit .
        chmod +x mp4edit
    
    - name: Download beheader
      uses: actions/checkout@v5
      with:
        repository: p2r3/beheader
        path: beheader

    - name: Build Zip File
      run: |
        mkdir zip/files
        cp checker.html zip/files/
        cp ciphertext.png zip/files/
        cp encryptingtext.mp3 zip/files/
        cd zip
        zip -r ../zipfile.zip ./

    - name: Create Polyglot
      run: |
        alias convert='magick'
        bun run beheader/beheader.js resultingpolyglot.png ciphertext.png encryptingtext.mp3 -h checker.html -z zipfile.zip
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v5
      with:
        name: polyglot
        path: resultingpolyglot.png